<html><head>
  <meta charset="UTF-8">
  <title>Молодежное Информационное Равенство</title>

  <link rel="stylesheet" media="screen" href="static/style2.css">

<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(52557241, "init", {
        id:52557241,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/52557241" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


</head>

<body>
  <!-- multistep form -->
<form id="msform" action="/start" method="post">
  <!-- progressbar -->
  <!-- fieldsets -->
  <fieldset>
    <p style="text-align: center; color: #a3a3a3">Инициатива ФГНО "Краснодарское молодежное движение"</p>
<br>
    <img style="text-align: center;" src="static/image/logo1.png">
    <br>

    <div style="text-align: center;"><img src="static/image/logo2.png"></div>
    <br>

    <p class="start" style="font-size: 20px">Добро пожаловать на проект <br> "Портрет жителя Краснодара"</p>
<br>    
    <p style="font-size: 75%; text-align: center;">Цель нашей инициативы - путем опроса населения сформировать
    социальный портрет Краснодарца и тем самым не только создать представление о "среднем" жителе города, но и установить вектор социального развития на ближайшие 5 лет.</p>
<br>
<div style="text-align: center;">
      <p style="font-weight: bold; font-size: 15px">Присоединяйтесь к тысячам других участников!</p>
<br>
    <p style=" font-size: 18px;">Далее вам будет представлен опрос, который займет у вас не более 5 минут. </p>
</div>
<br>
<div style="text-align: center;">  <input type="image" src="static/image/button.png" style="width: 200px; border: none;"></div>  

  </fieldset>
</form>

</body>
</html>